:root {
  --color-accent: hsl(275, 100%, 25%);

  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  // these from sizes should be used in px() function to provide correct RWD sizes.
  // eg. font-size: px(var(--font-size-1)).

  // Due to var scope limitations, if px() would be used here, changes in --design-width or --base-unit in nested containers wouldn't be inherited and applied.

  --font-size-1: 12;
  --font-size-2: 14;

  --font-color-base: hsl(218, 54%, 20%);

  // Default: px(1) == 1px
  --base-unit: 1px;
  --design-width: 100;

  // Example:
  // Scale to viewport width.
  // Then just use px({value}) for describing sizes, where {value} is what the size on zepplin

  // Use screen width as base unit. This will make the page "scale" with resolution. Extremely useful for scalable mobile designs.
  //--base-unit: 1vw;

  // Use zepplin resolution as our design width
  //--design-width: 375;

  // Example: Match real pixel size; px(1) === 1px

  // --base-unit: 1px;
  // --design-width: 100;
}
