.MuiButtonBase-root {
  font-family: var(--font-family-main);
  font-size: var(--font-size-1);
  color: var(--color-blue-4);
}

.MuiInputBase-root {
  color: var(--color-gray-4);
  display: block;
  box-sizing: border-box;
  font-family: var(--font-family-main);
  font-size: var(--font-size-2);
  text-align: left;
}

.MuiSelect-root, .MuiSelect-icon {
  color: var(--color-blue-4);
}

.MuiMenu-paper.MuiPopover-paper {
  box-shadow: none;
  border: 1px solid var(--color-gray-2);
  border-radius: var(--border-radius-main);
}

.MuiSelect-outlined.MuiSelect-outlined {
  padding-right: calc(32px + 1.5em);
  width: calc(100% - calc(32px + 1.5em) - 1.5em);
}

.MuiTextField-root .MuiOutlinedInput-input {
  height: 40px;
  box-sizing: border-box;
}

.MuiOutlinedInput-root {
  border-radius: var(--border-radius-main);
}

.MuiOutlinedInput-notchedOutline {
  transition: border-color var(--animation-time) var(--animation-ease);
  border-color: var(--color-gray-3);
  -webkit-box-shadow: 0px 0px 1px 0px rgba(var(--color-blue-4-rgb), 0.8);
  top: 0px;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-blue-4);
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-blue-3);
  border-width: 1px;
}

.MuiOutlinedInput-input {
  padding: 0.7em 1.4em;
}

.MuiListItem-root {
  padding: 0.45em 1.4em;
}

.MuiSelect-nativeInput {
  box-sizing: border-box;
}

.MuiInputLabel-outlined, .MuiInputLabel-outlined.MuiInputLabel-shrink  {
  transform: translate(1px, -1.35em) scale(1);
  font-family: var(--font-family-main);
  font-size: var(--font-size-1);
  color: var(--color-gray-4);
}

.MuiInputBase-root fieldset legend {
  display: none;
}

.MuiFormLabel-root.Mui-error, .MuiFormLabel-asterisk.Mui-error {
  color: var(--color-gray-4);
}

.MuiTextField-root {
  margin-top: 20px;
}

.MuiFormControlLabel-root {
  align-items: flex-start;
}

.MuiCheckbox-root {
  top: -6px;
}

.MuiTypography-body1 {
  font-family: var(--font-family-main);
  font-size: var(--font-size-1);
  color: var(--color-gray-4);
  text-align: left;
}

.MuiTypography-body2 {
  font-family: var(--font-family-main);
  font-size: var(--font-size-2);
  color: var(--color-gray-4);
  text-align: left;
}

.MuiTypography-h3 {
  font-family: var(--font-family-main);
  font-size: var(--font-size-2);
  color: var(--color-blue-7);
  text-align: left;
}

.MuiIconButton-root:hover {
  background: transparent !important;
}

.MuiFormHelperText-contained {
  margin: 2px 0;
  font-family: var(--font-family-main);
  font-size: var(--font-size-0);
  color: var(--color-gray-4);
}

.MuiOutlinedInput-multiline {
  padding: 0;
  min-height: 5em;
}

.MuiAccordionSummary-root {
  flex-direction: row-reverse;
  align-items: flex-start;
}

.MuiPaper-root.MuiAccordion-root {
  background: transparent;
  border-bottom: 1px solid #edeff2;
}

.MuiPaper-root.MuiAccordion-root + .MuiPaper-root.MuiAccordion-root:last-child {
  border-bottom: none;
}

.MuiAccordion-root:before {
  display: none;
}

.MuiAccordionSummary-expandIcon {
 transform: rotate(-90deg);
}

.MuiAccordionSummary-expandIcon.Mui-expanded {
  transform: rotate(0deg);
}

.MuiAccordion-root.Mui-expanded {
  margin: 0;
}

.MuiAccordionSummary-root .MuiAccordionSummary-expandIcon {
  color: var(--color-blue-7);
  padding: 26px;
  margin-left: -26px;
  margin-right: -20px;

  @include mediaTablet() {
    margin-right: 0px;
  }
}

.MuiAccordionSummary-content, .MuiAccordionSummary-content.Mui-expanded {
  margin: 30px 0;
}

.MuiCheckbox-root + .MuiFormControlLabel-label {
  margin-top: .45em;
}